# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables
.env
.env.*
!.env.example

# Git
.git/
.gitignore

# Docker
Dockerfile
Dockerfile.*
docker-compose*.yml
compose*.yml
.dockerignore

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
tests/

# Logs
*.log

# Docs
README.md

logs/
